################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FreezeTest/FreezeTest/bin
/FreezeTest/FreezeTest/obj
/FreezeTest/FreezeTest.Android/bin
/FreezeTest/FreezeTest.Android/obj
/FreezeTest/FreezeTest.iOS/bin
/FreezeTest/FreezeTest.iOS/obj
